<launch>
	<node name="text_to_speech_service" pkg="dialogue_manager" type="text_to_speech_service.py" output="log"/>
	<node name="speech_recognizer_service" pkg="dialogue_manager" type="speech_recognizer_service.py" output="screen"/>
	<node name="state_manager" pkg="dialogue_manager" type="state_manager.py" output="screen"/>
</launch>
